<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIPnDIP</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>SIPnDIP</h1>

    <div class="button-container">
        <a href="{{ url_for('billing') }}"> <button class="primary-button">Billing</button> </a>
        <a href="{{ url_for('update_menu') }}"><button class="primary-button">Menu</button></a>
        <a href="{{ url_for('add_stock') }}"><button class="primary-button">Add Inventory</button></a>
        <a href="{{ url_for('view_inventory') }}"><button class="primary-button">Inventory    </button></a>
    </div>
</body>
</html>
